Drill - Describing Data #1



Mean: (14 + 12 + 11 + 10 + 8 + 6+ 8)/7 = 9.857

Variance:
((14-9.857)**2+(12-9.857)**2+(11-9.857)**2+(10-9.857)**2+(8-9.857)**2+(6-9.857)**2))/(7-1)=7.476

Standard deviation: sqrt(7.476) = 2.734

Standard error: = 2.8577/sqrt(6)=0.957

In [2]:
import numpy as np
import pandas as pd

In [3]:
# Create data frame
data = pd.DataFrame()
data['Name'] = ['Greg'] + ['Marcia'] + ['Peter']+['Jan']+['Bobby']+['Cindy'] + ['Cousin Oliver']
data['Age'] =  14, 12, 11, 10, 8, 6, 8

In [4]:
# Calculate mean
data.Age.mean()

9.857142857142858

In [5]:
# Calculat median
data.Age.median()

10.0

In [6]:
# Calculate mode
data.Age.mode()

0    8
dtype: int32

In [7]:
data.Age.var()

7.476190476190475

In [8]:
#Standard deviation using Numpy. ddof=0 because in this case it is the SD of the population not the sample
data.std(ddof=1)

Age    2.734262
dtype: float64

In [9]:
#Standard error using Numpy
np.std(data['Age'] ,ddof=0) / np.sqrt(len(data['Age']))

0.9567925036515135

In [10]:
np.std(data['Age'], ddof=1)

2.734262327610589

Drill - Describing data #2

If I had to choose one of these estimates of central tendancy to describe the data I would choose the mean because there or no outliers to skew the data. For the measure of variance I would use the standard deviation for the same reason. 
Also, I have found and error in the lesson. This is taken from the Standard Devation portion of the Measures of Variance lesson:


"NumPy gives us the useful np.std() function for working with standard deviations. A tricky default in numpy is to calculate the population standard deviation, dividing by n, rather than the sample standard deviation, dividing by n - 1. To calculate the sample instead of the population standard deviation we need to manually set the "delta degrees of freedom" with the ddof named parameter:"

np.std(df['age'], ddof=1)


I have found that the np.std() returns the standard deviation for the sample not the population. I will show this below that both commands return the same answer.

In [11]:
data.std()

Age    2.734262
dtype: float64

In [12]:
np.std(data['Age'], ddof=1)

2.734262327610589

In [13]:
# population standard deviation
np.std(data['Age'], ddof=0)

2.531435020952764

Describing Data #3

In [14]:
# Create data frame
cindy_bd = pd.DataFrame()
cindy_bd ['Name'] = ['Greg'] + ['Marcia'] + ['Peter']+['Jan']+['Bobby']+['Cindy'] + ['Cousin Oliver']
cindy_bd ['Age'] =  14, 12, 11, 10, 8, 7, 8

In [15]:
cindy_bd.median()

Age    10.0
dtype: float64

In [19]:
cindy_bd.mode()
# The mode is 8

            Name  Age
0          Bobby  8.0
1          Cindy  NaN
2  Cousin Oliver  NaN
3           Greg  NaN
4            Jan  NaN
5         Marcia  NaN
6          Peter  NaN

In [20]:
cindy_bd.var()

Age    6.333333
dtype: float64

In [21]:
np.std(Cindy['Age'] ,ddof=0) / np.sqrt(len(Cindy['Age']))

NameError: name 'Cindy' is not defined

The mean went up. The median and mode stayed the same. The standard deviation lowered and standard error went up.

Describing Data #4

In [22]:
new_actress_jess = pd.DataFrame()
new_actress_jess ['Name'] = ['Greg'] + ['Marcia'] + ['Peter']+['Jan']+['Bobby']+['Cindy'] + ['Jessica']
new_actress_jess ['Age'] =  14, 12, 11, 10, 8, 7, 1

In [23]:
new_actress_jess.mean()

Age    9.0
dtype: float64

In [24]:
new_actress_jess.median()

Age    10.0
dtype: float64

In [25]:
new_actress_jess.Age.var()

18.0

In [26]:
np.std(new_actress_jess['Age'] ,ddof=0) / np.sqrt(len(new_actress_jess['Age']))

1.4846149779161806

For measure of central tendancy I would choose the median as the best measure. It is more toward the center of the data than the mean because the young age of Jessica is skewing the mean. For measure of variance I would use the variance because the standard error is rather large and the variance is more representative of the spread of the data.

Describing Data #5

Take the average of TV Guide 20%, Entertainment Weekly23%, Pop Culture Today 17%. SciPhi Phanatic doesnt really have anything to do with television shows so we exclude that percentage. (20+23+17)/3 = 20%.

Drill - Exercises in Probability

1. The probability is the same for all three patterns. 1/2 * 1/2 * 1/2 * 1/2 = 1/8

2. The probability of not choosing a man is the same as choosing a woman. 1-21/45 because both probablities together must = 1. 45/45 - 21/45 = 24/45.

3. To calculate this you multiply the probabilities because it is an "and" situation. .10 * .005 = .0005 = 00.05% which is basically 0.

4. If a person spends more time on a website they are more likely to click more links. This will increase the chances of getting a survey with each click.